@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
      outline: none;
    }

    input {
      all:unset;
    }
  }

  input[type="checkbox"] {
    width: 17px;
    height: 17px;
    border-radius: 4px;
    border: 1px solid #ccc; 
    appearance: none; 
    cursor: pointer; 
  }
  
  input[type="checkbox"]:checked {
    background-color: #f27a1a;
    border-color: #f27a1a ; 
  }
  
  